<div class="row">
    <div class="col-md-3 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">FORGET PASSWORD</h1>
          <hr class="my-4">
            <form>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll send recovery authentication to your email.</small>
              </div>
              <button style="width:100%;" type="submit" class="btn btn-primary" (click)="resetPassword()">SEND</button>
            </form>          
        </div>
      </div>
    </div>
  </div>